*~
.*~
simtelarray_docker_image
.ipynb_checkpoints/
get_npe.py
digital_sum_threshold.pdf
greasy_job/
run_greasy_sbatch.sh
greasy-53442986.log
greasy-53443594.log
greasy-53462538.log
greasy-53503154.log
greasy-53504176.log
DBscan_on_simtel_data_e/
DBscan_on_simtel_data_g/
DBscan_on_simtel_data_gd/
DBscan_on_simtel_data_nsb/
DBscan_on_simtel_data_p/
__pycache__/
hist_wf_val.csv
hist_wf_val_NSB268MHz.csv
hist_wf_val_NSB386MHz.csv
wf_noiseNSB268MHz_arr.pdf
wf_noiseNSB268MHz_arr.pdf_rates.pdf
wf_noiseNSB268MHz_arr.pdf_rates.pdf.csv
wf_noiseNSB268MHz_blacklist_arr.pdf
wf_noiseNSB268MHz_blacklist_arr.pdf_rates.pdf
wf_noiseNSB268MHz_blacklist_arr.pdf_rates.pdf.csv
wf_noise_arr.pdf
wf_noise_arr.pdf_rates.pdf
wf_noise_arr.pdf_rates.pdf.csv
wf_noise_blacklist_arr.pdf
wf_noise_blacklist_arr.pdf_rates.pdf
wf_noise_blacklist_arr.pdf_rates.pdf.csv
ADC_counts_L0_superflower_wfbl_0NSB.pdf
ADC_counts_L0_superflower_wfbl_265MHzNSB.pdf
ADC_counts_L1_flower_wfbl_0NSB.pdf
ADC_counts_L1_flower_wfbl_265MHzNSB.pdf
ADC_counts_wf_wfbl_0NSB.pdf
ADC_counts_wf_wfbl_265MHzNSB.pdf
L0_digitalsum_noiseNSB268MHz_arr.pdf
L0_digitalsum_noiseNSB268MHz_arr.pdf_rates.pdf
L0_digitalsum_noiseNSB268MHz_arr.pdf_rates.pdf.csv
L0_digitalsum_noiseNSB268MHz_blacklist_arr.pdf
L0_digitalsum_noiseNSB268MHz_blacklist_arr.pdf_rates.pdf
L0_digitalsum_noiseNSB268MHz_blacklist_arr.pdf_rates.pdf.csv
L0_digitalsum_noise_arr.pdf
L0_digitalsum_noise_arr.pdf_rates.pdf
L0_digitalsum_noise_arr.pdf_rates.pdf.csv
L0_digitalsum_noise_blacklist_arr.pdf
L0_digitalsum_noise_blacklist_arr.pdf_rates.pdf
L0_digitalsum_noise_blacklist_arr.pdf_rates.pdf.csv
L1_digitalsum_noiseNSB268MHz_arr.pdf
L1_digitalsum_noiseNSB268MHz_arr.pdf_rates.pdf
L1_digitalsum_noiseNSB268MHz_arr.pdf_rates.pdf.csv
L1_digitalsum_noiseNSB268MHz_blacklist_arr.pdf
L1_digitalsum_noiseNSB268MHz_blacklist_arr.pdf_rates.pdf
L1_digitalsum_noiseNSB268MHz_blacklist_arr.pdf_rates.pdf.csv
L1_digitalsum_noise_arr.pdf
L1_digitalsum_noise_arr.pdf_rates.pdf
L1_digitalsum_noise_arr.pdf_rates.pdf.csv
L1_digitalsum_noise_blacklist_arr.pdf
L1_digitalsum_noise_blacklist_arr.pdf_rates.pdf
L1_digitalsum_noise_blacklist_arr.pdf_rates.pdf.csv
ADC_counts_L1_flower_wfbl_268NSB_vs_pyevio.pdf
hist_trgB_corsika_run1.root
L3_digitalsum_noiseNSB268MHz_arr.pdf
L3_digitalsum_noiseNSB268MHz_arr.pdf_rates.pdf
L3_digitalsum_noiseNSB268MHz_arr.pdf_rates.pdf.csv
L3_digitalsum_noiseNSB268MHz_arr_all.pdf
L3_digitalsum_noiseNSB268MHz_arr_all.pdf_rates.pdf
L3_digitalsum_noiseNSB268MHz_arr_all.pdf_rates.pdf.csv
L1_max_digi_sum_noiseNSB268MHz.pdf
L1_max_digi_sum_noiseNSB268MHz.pdf_rates.pdf
L1_max_digi_sum_noiseNSB268MHz.pdf_rates.pdf.csv
L3_n_points_noiseNSB268MHz.pdf
L3_n_points_noiseNSB268MHz.pdf_rates.pdf
L3_n_points_noiseNSB268MHz.pdf_rates.pdf.csv
cleaning_n_points_noiseNSB268MHz.pdf
cleaning_n_points_noiseNSB268MHz.pdf_rates.pdf
cleaning_n_points_noiseNSB268MHz.pdf_rates.pdf.csv
pixel_mapping_from_simtel.csv
testtable.h5
ctapipe.sif
gamma_diffuse_run1.dl1.h5
gamma_run1.dl1.h5
DBSCAN_gamma_corsika_run1.npe.csv
convDBSCAN_gamma_corsika_run1.npe.csv
df_proton_rate_l1.csv
df_proton_rate_l1_format.csv
df_proton_rate_l2.csv
df_proton_rate_l2_format.csv
